<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="logback-common-setting.xml"/>
    <include resource="logback-secret-setting.xml"/>

    <appender name="STDOUT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="STDOUT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${MY_LOG_DIR}logback-sample.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="STDOUT_FILE_TIME_ROTATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MY_LOG_DIR}logback-rolling-sample.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MY_LOG_DIR}logback-rolling-sample-%d{yyyyMMdd_HHmmss}.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username>${gmail.userId}</username>
        <password>${gmail.password}</password>
        <to>${gmail.to}</to>
        <from>${gmail.from}</from>
        <subject>logback mail sample</subject>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>10</bufferSize>
        </cyclicBufferTracker>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="STDOUT_CONSOLE"/>
        <appender-ref ref="STDOUT_FILE"/>
    </root>
</configuration>
